  <div class = "container">
    <div class = "row">
      <div class="col-md-12 offset-md-6 mx-auto">
        <h2>公務員とは</h2>
        <p>公務員と民間企業の違いは利益追求の有無です。<br />
           民間企業と異なり、公務員は、全体の奉仕者と日本国憲法（１５条２項）に明文され、国民全体がより良い暮らしができるよう働きます。<br/><br/>
           人気職種ランキングの上位に名を連ねる公務員ですが、人気の理由の一因には、福利厚生や勤務形態の「安定性」が挙げられます。<br/>
           年次有給休暇は年間２０日間付与され、育児休暇や病気休暇の制度もあり、現在は男性の育児休暇取得を推奨している自治体も少なくありません。<br/>
           また、警察官や消防士等の特殊な職種を除き、多くの公務員は土日祝休みの週休二日制を採用しており、働きやすい環境が整っています。<br/>
        </p><br/>
      </div>
      <div class="col-md-12 offset-md-6 mx-auto">
        <h2>公務員の種類</h2>
        <p>公務員は大きく分けて「国家公務員」と「地方公務員」に分かれます。<br />
           国家公務員は国の機関に従事する職員となります。<br/>
           地方公務員は県庁や市役所等の地方自治体に従事する職員を指します。<br/>
           <%=  link_to "公務員の種類について",  customers_exams_path %>
        </p><br/>
      </div>
      <div class="col-md-12 offset-md-6 mx-auto">
        <h2>公務員試験について</h2>
        <p>公務員になるには、多くの場合、公務員試験への合格が必要となります。<br />
           公務員試験には、「専門試験」と「教養試験」があり、試験の種類によっては、教養試験のみで受験できる試験もあります。<br/>
           前述のとおり、専門試験を要しない自治体等も存在し、試験の内容は受験先によって様々であるため、公務員試験のレベルは千差万別です。<br/>
           <%=  link_to "公務員試験の科目について",  customers_subjects_path %>
        </p><br/>
      </div>
      <div class="col-md-12 offset-md-6 mx-auto">
        <h2>掲示板について</h2>
        <p>当サイトでは、受験生同士での意見交流や情報収集ができます。<br />
           掲示板への投稿には会員登録が必要となります。<br/>
           <%=  link_to "会員登録はこちらから",  new_customer_registration_path %><br />
           <%= link_to 'ゲストログイン（閲覧用）', customers_homes_guest_sign_in_path, method: :post %>
        </p><br/>
      </div>
    </div>
  </div>
