<div class="row">
  <div class="mx-auto">
  <h2>試験一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>試験一覧</th>
          <th>試験名</th>
          <th>ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @exams.each do |exam| %>
          <tr>
            <td><%= exam.id %></td>
            <td><%= link_to exam.name ,customers_exam_path(exam) %></td>
            <td><%= exam.genre.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>