<div class="row">
  <div class="mx-auto">
  <h2>教科一覧</h2>

    <div class="text-right">
        <%= link_to "新規登録" ,new_admins_subject_path, class:"btn btn-lg btn-primary" %>
    </div>

      <table class="table">
        <thead>
          <tr>
            <th>教科一覧</th>
            <th>教科名</th>
          </tr>
        </thead>

        <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td><%= subject.id %></td>
              <td><%= link_to subject.name ,admins_subject_path(subject) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>