<div class="container">
  <div class="col-md-8 offset-md-1">
    <h2>教科詳細</h2><br>
    <br><br><br><br>
    <table class="table">
      <tbody>
        <tr>
          <th>教科名</th>
          <td><%= @subject.name %></td>
        </tr>
        <tr>
          <th>教科説明</th>
          <td><%= @subject.introduction %></td>
        </tr>
        <tr>
          <th>勉強法</th>
          <td><%= @subject.method %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>